.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100% - var(--nav-height));
    overflow-y: auto;
    position: relative;
    overflow: hidden;
}

.reportPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-block: var(--padding-block-medium);
    width: 100%;
    height: 100%;
    padding-inline: var(--padding-inline-medium);
    padding-block: var(--padding-block-medium);
    overflow-y: auto;
}

.main::after {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: -120%;
    left: -50%;
    transform: rotate(-10deg);
    background-color: rgba(52, 201, 182, 1);
    z-index: -1;
}

.reportTitle {
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    text-align: center;
    color: white;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: var(--max-width);
}

.cloudIcon {
    color: white;
    font-size: calc(var(--font-size-xlarge));
    text-align: left;
}

.reportTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    padding-block-start: var(--padding-block-large);
}
