.checkboxLabel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}

.facebookIcon {
    color: #3b5998;
}

.twitterIcon {
    color: #1da1f2;
}

.youtubeIcon {
    color: #ff0000;
}

.checkBoxTitle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: var(--font-size-small);
}
