.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: var(--gap-medium);
    padding-block: var(--padding-block-medium);
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius);
    gap: var(--gap-small);
    padding-inline-start: var(--padding-inline-small);
}

.textInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-block: var(--padding-block-medium);
    gap: var(--gap-small);
    flex-grow: 1;
}

.label {
    text-align: left;
    font-size: var(--font-size-small);
    font-weight: bold;
    width: 65px;
}

.dateLabel {
    display: none;
}

.dateInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-block: var(--padding-block-medium);
}

.dateArrowIcon {
    color: lightgrey;
}

.submitButtonContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: rgb(71, 214, 219);
    width: 150px;
    cursor: pointer;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    width: 100%;
    flex-wrap: wrap;
}

@media (max-width: 889px) {
    .dateLabel {
        display: block;
        text-align: left;
        font-size: var(--font-size-small);
        font-weight: bold;
        width: 100%;
    }

    .rowContainer {
        flex-direction: column;
        gap: var(--gap-medium);
        padding-inline: 0;
        padding-block-start: var(--padding-block-medium);
    }

    .textInputContainer {
        width: 100%;
        flex-direction: column;
        gap: var(--gap-small);
        padding-inline: var(--padding-inline-medium);
        padding-block: 0;
    }

    .dateInputContainer {
        width: 100%;
        flex-direction: column;
        gap: var(--gap-small);
        padding-inline: var(--padding-inline-medium);
        padding-block: 0;
    }

    .label {
        width: 100%;
        text-align: left;
    }

    .submitButtonContainer {
        width: 100%;
        height: 50px;
        border-radius: 0;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}
