.formContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-block: var(--padding-block-medium);
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius);
    gap: var(--gap-small);
    padding-inline-start: var(--padding-inline-medium);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.textInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-block: var(--padding-block-medium);
    gap: var(--gap-small);
    flex-grow: 1;
}

.label {
    text-align: left;
    font-size: var(--font-size-small);
    font-weight: bold;
    width: 65px;
}

.dateLabel {
    display: none;
}

.dateInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-block: var(--padding-block-medium);
}

.dateArrowIcon {
    color: lightgrey;
}

.submitButtonContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: rgb(71, 214, 219);
    width: 150px;
    cursor: pointer;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    flex-wrap: wrap;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: white;
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-medium);
    position: relative;
}

.checkboxContainer::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    height: 50px;
    width: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 25px 0px 0px white;
    transform: rotateY(180deg) translateX(25px) translateY(-3px);
    z-index: -1;
}

.checkboxContainer::before {
    content: "";
    position: absolute;

    background-color: transparent;
    top: 0;
    right: 0;
    height: 50px;
    width: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 25px 0px 0px white; /* This is where the magic happens! */
    transform: rotateY(180deg) translateX(-25px) translateY(-3px);
    z-index: -1;
}

@media (max-width: 889px) {
    .formContainer {
        gap: var(--gap-medium);
        flex-direction: column-reverse;
    }

    .dateLabel {
        display: block;
        text-align: left;
        font-size: var(--font-size-small);
        font-weight: bold;
        width: 100%;
    }

    .rowContainer {
        flex-direction: column;
        padding-inline: 0;
        padding-block: 0;
        gap: 0;
    }

    .textInputContainer {
        width: 100%;
        flex-direction: column;
        gap: var(--gap-small);
        padding-inline: var(--padding-inline-medium);
        padding-block: var(--padding-block-medium);
        background-color: rgba(209, 209, 209, 0.1);
    }

    .checkboxContainer {
        width: 100%;
        border-radius: var(--border-radius);
    }

    .dateInputContainer {
        width: 100%;
        flex-direction: column;
        gap: var(--gap-small);
        padding-inline: var(--padding-inline-medium);
        padding-block: var(--padding-block-medium);
    }

    .label {
        width: 100%;
        text-align: left;
    }

    .submitButtonContainer {
        width: 100%;
        height: 50px;
        border-radius: 0;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .checkboxContainer {
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .checkboxContainer::after,
    .checkboxContainer::before {
        display: none;
    }
}
