:root {
    --max-width: 1200px;
    --doc-height: 100%;
    --nav-height: 65px;
    --border-radius: 5px;
    --background-color-rgb: 255, 255, 255;
    --text-color-rgb: 41, 41, 41;
    --font-size-small: 0.75rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-x2large: 2rem;
    --font-size-x3large: 3rem;
    --padding-inline-small: 0.5rem;
    --padding-inline-medium: 1rem;
    --padding-inline-large: 1.5rem;
    --padding-inline-xlarge: 2rem;
    --padding-inline-x2large: 4rem;
    --padding-block-small: 0.5rem;
    --padding-block-medium: 1rem;
    --padding-block-large: 2rem;
    --padding-block-xlarge: 4rem;
    --padding-block-x2large: 8rem;
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-xlarge: 3rem;
    --gap-x2large: 4rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
}

body {
    color: var(--text-color-rgb);
    position: relative;
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(
        15deg,
        hsl(240deg 61% 86%) 0%,
        hsl(240deg 58% 90%) 7%,
        hsl(240deg 54% 93%) 15%,
        hsl(240deg 45% 96%) 22%,
        hsl(240deg 26% 97%) 29%,
        hsl(240deg 14% 97%) 36%,
        hsl(240deg 6% 96%) 43%,
        hsl(0deg 0% 96%) 50%,
        hsl(0deg 0% 97%) 57%,
        hsl(0deg 0% 98%) 65%,
        hsl(0deg 0% 99%) 72%,
        hsl(240deg 58% 98%) 79%,
        hsl(240deg 59% 94%) 86%,
        hsl(240deg 60% 90%) 93%,
        hsl(240deg 61% 86%) 100%
    );
}

a {
    color: inherit;
    text-decoration: none;
}
